<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>habits Scorecard</title>
    <link rel="stylesheet" href="../stylesheets/habits_Scorecard.css">
    <link href="https://fonts.cdnfonts.com/css/century-gothic-paneuropean" rel="stylesheet">
                
</head>
<body>
    <div class="habits_scorecard_container">

        <div class="habits_scorecard_atomic">Atomic Habits</div>
    <div class="habits_scorecard_title">The Habits Scorecard</div>
    <div class="routine-elements">
        <div class="scorecard-thehabit">The habit</div>
        <div class="scorecard-button-description-grid
            ">
            <div >
                good
            </div>
            <div >
                bad
            </div>
            <div >
               neutral
            </div>
        </div>
        <div>
        <form action="/Scorecard" method="post">
            <input class="routine-element" type="text"id="routine-element2" name="routine-element2"><br>
            <input class="routine-element" type="text"id="routine-element7" name="routine-element7"><br>
            <input class="routine-element" type="text"id="routine-element1" name="routine-element1"><br>
            <input class="routine-element" type="text"id="routine-element3" name="routine-element3"><br>
            <input class="routine-element" type="text"id="routine-element4" name="routine-element4"><br>
            <input class="routine-element" type="text"id="routine-element5" name="routine-element5"><br>
            <input class="routine-element" type="text"id="routine-element6" name="routine-element6"><br>
            <input type="submit" hidden />
        </form>
        </div>
    <div class="scorecard-button-grid-row">
        <div class="scorecard-button-grid">
        <button class="scorecard-button">+</button>
        <button class="scorecard-button">-</button>
        <button class="scorecard-button">=</button>
        </div>
    <div class="scorecard-button-grid">
        <button class="scorecard-button">+</button>
        <button class="scorecard-button">-</button>
        <button class="scorecard-button">=</button>
        </div>
    <div class="scorecard-button-grid">
        <button class="scorecard-button">+</button>
        <button class="scorecard-button">-</button>
        <button class="scorecard-button">=</button>
        </div>
        <div class="scorecard-button-grid">
            <button class="scorecard-button">+</button>
            <button class="scorecard-button">-</button>
            <button class="scorecard-button">=</button>
            </div>
        <div class="scorecard-button-grid">
                <button class="scorecard-button">+</button>
                <button class="scorecard-button">-</button>
                <button class="scorecard-button">=</button>
            </div>
            <div class="scorecard-button-grid">
                <button class="scorecard-button">+</button>
                <button class="scorecard-button">-</button>
                <button class="scorecard-button">=</button>
                </div>
                <div class="scorecard-button-grid">
                    <button class="scorecard-button">+</button>
                    <button class="scorecard-button">-</button>
                    <button class="scorecard-button">=</button>
                    </div>
    </div>
    </div>

</body>
</html>